<!doctype html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="在线图书销售系统">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}——图书销售管理系统</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <link href="http://fonts.lug.ustc.edu.cn/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="http://fonts.lug.ustc.edu.cn/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/styles/material.min.css">
    <link rel="stylesheet" href="__PUBLIC__/styles/styles.css">
    <link rel="stylesheet" href="__PUBLIC__/editor/themes/default/default.css" >
     <link rel="stylesheet" href="__PUBLIC__/styles/upload.css">
    <style>
	.book-add  div {
		display: block;
	}
      .div {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--cyan-500">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">{微书店}管理平台</span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search">
              <label class="mdl-textfield__label" for="search">输入图书名称...</label>
            </div>
          </div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">关于我们</li>
            <li class="mdl-menu__item">联系方式</li>
          </ul>
        </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--cyan-500 mdl-color-text--white">
        <header class="demo-drawer-header">
          <img src="__PUBLIC__/images/user.jpg" class="demo-avatar">
          <div class="demo-avatar-dropdown">
            <span>Admin [ 超级管理员 ]</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li class="mdl-menu__item">个人信息</li>
              <li class="mdl-menu__item">注销账户</li>
            </ul>
          </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--cyan-300 mdl-color-text--white">
          <a class="mdl-navigation__link" href="{:U('Admin/Index/index')}"><i class="mdl-color-text--white material-icons" role="presentation">home</i>主页</a>
          <a class="mdl-navigation__link" href="{:U('Admin/Index/category')}"><i class="mdl-color-text--white material-icons" role="presentation">more</i>图书分类</a>
          <a class="mdl-navigation__link selected" href="{:U('Admin/Index/book')}"><i class="mdl-color-text--white material-icons" role="presentation">local_library</i>图书管理</a>
          <a class="mdl-navigation__link" href="{:U('Admin/Index/user')}"><i class="mdl-color-text--white material-icons" role="presentation">people</i>会员中心</a>
          <a class="mdl-navigation__link" href="{:U('Admin/Index/order')}"><i class="mdl-color-text--white material-icons" role="presentation">shopping_cart</i>订单管理</a>
          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href="">&copy;2016 微书店科技</a>
        </nav>
      </div>


      <main class="mdl-layout__content mdl-color--grey-100">
      	<div class="mdl-cell--11-col mdl-grid" style="margin: 20px auto; ">
		<div class="mdl-cell--8-col mdl-cell--8-col-phone mdl-cell" >
			<span><b>当前位置 > </b> 图书管理 > 添加图书 </span>
		</div>
	</div>
	<div class="mdl-cell--10-col  mdl-grid book-add" style="margin:0 auto;">
	<form action="{:U('Admin/Book/save')}" method="post"   enctype="multipart/form-data">
		
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="book-name" name="book-name"  maxlength="20" required="required">
                <label class="mdl-textfield__label" for="book-name">图书名称</label>
                <span class="mdl-textfield__error">图书名称必填哦</span>
            </div>

              <div>
                <div class="div"> 
                  <div class="line"> 
                    <span class="span"> 
                      <input name="" type="text" id="viewfile"
                        onmouseout="document.getElementById('upload').style.display='none';" class="inputstyle" placeholder="请选择图片" /></span>
                        <label for="unload"  onmouseover="document.getElementById('upload').style.display='block';"
                          class="file1">浏览...</label> 
                        <input type="file" onchange="document.getElementById('viewfile').value=this.value;this.style.display='none';"  class="file" id="upload" name="upload" /> 
                    </div> 
                  </div> 
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-select">
                <input class="mdl-textfield__input" type="text" id="book-category-name" name="book-category-name"/>
                <label class="mdl-textfield__label" for="book-category-name">图书分类</label>
                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="book-category-name">
                    <li class="mdl-menu__item">1</li>
                    <li class="mdl-menu__item">2</li>
                    <li class="mdl-menu__item">3</li>
                    <li class="mdl-menu__item">4</li>
                  </ul>
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="price" name="price" pattern="(\d)+(\.\d+)?">
                <label class="mdl-textfield__label" for="price">原图书价</label>
                <span class="mdl-textfield__error">必须为数字</span>
              </div>


		      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
                  <label for="is-discount" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                    <input type="checkbox" id="is-discount" name="is-discount" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">是否折扣</span>
                  </label>
		      </div>

              <div id="price-now-box" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="display: none;">
                <input class="mdl-textfield__input" type="text" id="price-now" name="price-now" pattern="(\d)+(\.\d+)?">
                <label class="mdl-textfield__label" for="price-now">现图书价</label>
                <span class="mdl-textfield__error">必须为数字</span>
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="publish" name="publish" pattern="^[a-zA-Z0-9_\u4e00-\u9fa5]+$">
		          <label class="mdl-textfield__label" for="publish">出版社</label>
                  <span class="mdl-textfield__error">必须是数字、字母、汉字和下划线</span>
              </div>
		
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="author" name="author" pattern="^[a-zA-Z0-9_\u4e00-\u9fa5]+$">
                  <label class="mdl-textfield__label" for="author">作者</label>
                  <span class="mdl-textfield__error">必须是数字、字母、汉字和下划线</span>
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="book-total" name="book-total" pattern="\d+" maxlength="4">
                <label class="mdl-textfield__label" for="book-total">图书数量</label>
                <span class="mdl-textfield__error">数量只能为1到10000</span>
              </div>

              <div class="mdl-textfield">
		          <textarea id="content" name="content" style="width:700px;height:300px;">图书描述...</textarea>
              </div>

		<!-- Colored raised button -->
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary">保存</button>
		<!-- Accent-colored raised button -->
		<button class="mdl-button mdl-js-button mdl-button--raised">取消</button>
	</form>
	</div>
      </main>

   </div>
    <script src="__PUBLIC__/scripts/material.min.js"></script>
    <script src="__PUBLIC__/scripts/jquery.min.js"></script>
    <script src="__PUBLIC__/editor/kindeditor-all-min.js" ></script>
    <script src="__PUBLIC__/editor/lang/zh-CN.js" ></script>
   <script>

    $(function() {

          var editor;
          KindEditor.ready(function(K) {
            editor = K.create('textarea[name="content"]', {
              resizeType : 1,
              allowPreviewEmoticons : false,
              allowImageUpload : false,
              items : [
                'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                'insertunorderedlist', '|', 'emoticons', 'image', 'link']
            });
        });


        $('div.mdl-select > ul > li').click(function(e) {
            var text = $(e.target).text();
            $(e.target).parents('.mdl-select').addClass('is-dirty').children('input').val(text);
        });

        $("#is-discount").click(function() {
            if ($(this).is(":checked")) {
              $("#price-now-box").css('display', 'block');
            } else {
               $("#price-now-box").css('display','none');
            }
        });


    });

   

   </script>
  </body>
</html>