{__NOLAYOUT__} 
<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>管理员登录——微信平台图书销售系统</title>
	<link rel="stylesheet" href="__PUBLIC__/styles/login.css">
</head>
<body>
	<div class="panel-lite">
		<div class="thumbur">
			<div class="icon-lock"></div>
		</div>
		<h4>管理员登录</h4>
		<form action="/Admin/Login/check" method="post">
		<div class="form-group">
			<input required="required" class="form-control" name="username"/>
			<label class="form-label">用户名    </label>
		</div>
		<div class="form-group">
			<input type="password" required="required" class="form-control" name="password" />
			<label class="form-label">密　码</label>
		</div>
		<a href="#">{$msg}</a>
		<button type="submit" class="floating-btn"><i class="icon-arrow"></i></button>
		</form>
	</div>
</body>
</html>