
 <main class="mdl-layout__content mdl-color--grey-100" >

        <!-- start mdl grid -->
        <div class="mdl-cell--11-col mdl-grid" style="margin: 20px auto; ">

			<div class="mdl-cell--8-col mdl-cell--8-col-phone mdl-cell" >
				<span><b>当前位置 > </b> 会员中心 </span>
			</div>
			<div class="mdl-cell--4-col mdl-cell--4-col-phone mdl-cell" style="text-align: right;">
				<!-- <button class="mdl-button mdl-js-button mdl-button--raised mdl-color--cyan-300 mdl-color-text--white">删除</button> -->
			</div>
		</div>

        <table class="mdl-data-table  mdl-data-table--selectable mdl-cell--11-col" style="margin: 0 auto;">
			<thead>
			  <tr>
				<th class="mdl-data-table__cell--non-numeric">用户编号</th>
				<th class="mdl-data-table__cell--non-numeric">openId</th>
				<th class="mdl-data-table__cell--non-numeric">微信昵称</th>
				<th class="mdl-data-table__cell--non-numeric">关注时间</th>
				<th class="mdl-data-table__cell--non-numeric">订单数</th>
			  </tr>
			</thead>
			<tbody>
			  <volist name="users" id="user">
			  <tr>
				<td class="mdl-data-table__cell--non-numeric">{$user.uid}</td>
				<td class="mdl-data-table__cell--non-numeric">{$user.openid}</td>
				<td class="mdl-data-table__cell--non-numeric">{$user.username}</td>
				<td class="mdl-data-table__cell--non-numeric">{$user.create_time}</td>
				<td class="mdl-data-table__cell--non-numeric">
				  <a href="">0</a>
				</td>
			  </tr>
			</volist>
			  

			</tbody>
        </table>

		<div class="mdl-cell--11-col pages" style="margin: 30px auto 30px auto; text-align: center;">
			{$page}
		</div>
</main>
