<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>微书店主页</title>
	<link rel="stylesheet" href="__PUBLIC__/mobile/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="__PUBLIC__/styles/home.css">
	<script src="__PUBLIC__/scripts/jquery.min.js"></script>
 	<script src="__PUBLIC__/mobile/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>

	<div data-role="page" data-dom-cache="false">
		<script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
		<script>
			wx.config({
			            debug: false,
			            appId : "{$datas['appId']}",
			          	timestamp: "{$datas['timestamp']}",
			            nonceStr: "{$datas['nonceStr']}",
			            signature: "{$datas['signature']}",
			            jsApiList: [
			              // 所有要调用的 API 都要加到这个列表中
			                'checkJsApi',
			                'openAddress',
			            ]
          			});


			function getAddr() {
	          			wx.ready(function() {

			          		wx.checkJsApi({
				              	jsApiList: [
				             		'openAddress',
				                	],
			                		success: function (result) {
			                			//alert(JSON.stringify(res));
			                		}
			            		});

			          		 wx.openAddress({
					              trigger: function (result) {
					                //alert('用户开始拉出地址');
					              },
					              success: function (result) {
					                var userName = result.userName;
					                var phone = result.telNumber;
					                var address = result.provinceName + 
					                		result.cityName +
					                		result.countryName + 
					                		result.detailInfo;
					                $("#userName").val(userName);

					                $("#address").val(address);
					                $("#telNumber").val(phone);
					              },
					              cancel: function (result) {
					                //alert('用户取消拉出地址');
					              },
					              fail: function (result) {
					                //alert(JSON.stringify(result));
					              }
				            	});
				});
	          		}
		</script>
		<include file="Common:toolbar" title="收货地址" />
		<include file="Common:menu" />

		<!-- begin main-->
		<main data-role="main" class="ui-content">
		<div class="margin-5">
			<div class="title-box clearfix">
				<span class="title-left">收获地址信息</span>
				<span class="title-right"><a href="javascript:void(0)"data-ajax="false" onclick="getAddr()">使用微信收获地址</a></span>
			</div>
			<div class="address-box">
				<form name="order-form"  data-ajax="false"  method="post" action="/Home/Index/payment.html">
				<div data-role="fieldcontain">
					<div>
						<label for="userName">收货人姓名:</label>
						<input type="text" id="userName" name="userName" placeholder="请输入收货人姓名">
					</div>
					<div>
						<label for="phoneNumber">手机号码:</label>
						<input type="text" id="telNumber" name="phoneNumber" placeholder="请输入您的收获电话">
					</div>
					<div>
						<label for="address">详细地址:</label>
						<input type="text" id="address" name="address" placeholder="请输入您的收获地址">
					</div>
				</div>
				<div>
					<input name="checkbox-1a" id="checkbox-1a" type="checkbox">
						<label for="checkbox-1a">联系方式保存到用户库</label>
				</div>
				<div>
					<p class="book-list-title">商品清单</p>
					<ul data-role="listview" class="listview book-list" style="margin: 0;">
						<volist name="books" id="book"> 
						<li>
						    <a href="#">
						        <img src="__ROOT__/Uploads/{$book.location}" alt="">
						        <div class="book-item">
						            <h4>{$book.name}</h4>
									<div class="aside">
										<div>数量：
										    <b>{$book.bookNum}</b>
										</div>
										<div>销售价：
										    <span class="price-now">￥ {$book.price_now}</span>
									    </div>
									</div>
						   	 	</div>
						    </a>
						</li>
						</volist>
					</ul>
				</div>


				<div class="customer-info">
					<input type="hidden" name="book_price_total" value="{$orderInfo[total_price]}">
					<p>商品总数：<span class="color-red"><b>{$orderInfo['book_num']}</b></span> 本</p>	
					<p>商品元总价：<span class="color-red"><b>{$orderInfo[total_price]}</b></span> 元</p>	
					<p>运费：<span class="color-red"><b>0</b></span> 元</p>
					<p>您共需支付：<span class="color-red"><b>{$orderInfo[total_price]}</b></span> 元</p>
					<input class="submit-btn" type="submit" value="确认，提交订单" data-inline="true">
				</div>


				</form>
			</div>
		</div>
		</main><!-- // end main -->
	</div>

</body>
</html>