 /* Listview with collapsible list items. */
.ui-listview > li .ui-collapsible-heading {
  	margin: 0;
}
.ui-collapsible.ui-li-static {
	  padding: 0;
	  border: none !important;
}
.ui-collapsible + .ui-collapsible > .ui-collapsible-heading > .ui-btn {
 	 border-top: none !important;
}
/* Nested list button colors */
.ui-listview .ui-listview .ui-btn {
	background: #fff;
}
.ui-listview .ui-listview .ui-btn:hover {
	background: #f5f5f5;
}
.ui-listview .ui-listview .ui-btn:active {
	background: #f1f1f1;
}


#color-blue {
	background-color: #3388CC;
	color: white;
}

.swiper-wrapper img {
	max-width: 100%;
	width: 100%;
	height: 150px;
}
