    <!-- begin footer-->
    <footer data-role="footer" data-position="fixed">
		<div class="nav-menu" data-role="navbar" data-iconpos="top">  
			<ul>
				<li><a href="/Home/Main/index" <eq name='ACTION_NAME' value='index'>class='ui-btn-active'</eq> data-icon="grid">所有商品</a></li>
				<li><a href="/Home/Main/category" <eq name='ACTION_NAME' value='category'>class='ui-btn-active'</eq> data-icon="navigation">图书分类</a></li>
				<li><a href="/Home/Main/cart" <eq name='ACTION_NAME' value='cart'>class='ui-btn-active'</eq> data-icon="shop">购物车</a></li>
				<li><a href="/Home/Main/user"  <eq name='ACTION_NAME' value='user'>class='ui-btn-active'</eq> data-icon="user">用户中心</a></li>
			</ul>  
		</div>
	</footer><!-- // end footer -->