<!-- start panel -->
<div id="menu" data-role="panel" data-position="right" >
	<ul data-role="listview">
		<li data-icon="home"><a href="/Home/Main/index">网站主页</a></li>
		<li data-icon="navigation"><a href="/Home/Main/category">图书分类</a></li>
		<li data-icon="shop"><a href="/Home/Main/cart">购物车</a></li>
		<li data-role="collapsible" data-collapsed="false" data-inset="false" data-iconpos="right">
			<h3>个人中心</h3>
			<ul data-role="listview">
				<li><a href="/Home/Main/user">个人资料</a></li>
				<li><a href="/Home/Index/orderListAuth" data-ajax="false">我的订单</a></li>
				<li><a href="#">已购书籍</a></li>
				<li><a href="#">等待付款</a></li>
			</ul>
		</li><!-- /collapsible -->
	</ul>

</div><!-- /panel -->