<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>微书店主页</title>
	<link rel="stylesheet" href="__PUBLIC__/mobile/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="__PUBLIC__/styles/home.css">
	<script src="__PUBLIC__/scripts/jquery.min.js"></script>
	<script src="__PUBLIC__/mobile/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>

	<div data-role="page">
		<include file="Common:toolbar" />
		<include file="Common:menu" />

		<!-- begin main-->
		<main data-role="main" class="ui-content padding-5">
			<div class="title-box clearfix">
				<span class="title-left">收获地址信息</span>
				<span class="title-right"><a href="#">使用微信收获地址</a></span>
			</div>
			<div class="address-box">
				<form method="post" action="###">
				<div data-role="fieldcontain">
					<div>
						<label for="userName">收货人姓名:</label>
						<input type="text" name="userName" placeholder="请输入收货人姓名">
					</div>
					<div>
						<label for="phoneNumber">手机号码:</label>
						<input type="text" name="phoneNumber" placeholder="请输入您的收获电话">
					</div>
					<div>
						<label for="address">详细地址:</label>
						<input type="text" name="adress" placeholder="请输入您的收获地址">
					</div>
				</div>
				<div>
					<input name="checkbox-1a" id="checkbox-1a" type="checkbox">
						<label for="checkbox-1a">联系方式保存到用户库</label>
				</div>
				<div>
					<p class="book-list-title">商品清单</p>
					<ul data-role="listview" class="listview book-list" style="margin: 0;">
						<li>
							<a href="#">
								<img src="__PUBLIC__/images/child-cover.jpg" alt="">
								<div class="book-item">
									<h4>笑猫日记-小白的选择</h4>
									<div class="aside">
										<span>数量：<b>2</b></span>
										<span style="margin-left:1em;">销售价：<span class="price-now">￥49.5</span></span>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/images/child-cover.jpg" alt="">
								<div class="book-item">
									<h4>笑猫日记-小白的选择</h4>
									<div class="aside">
										<span>数量：<b>2</b></span>
										<span style="margin-left:1em;">销售价：<span class="price-now">￥49.5</span></span>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>


				<div class="customer-info">
					<p>商品总数：<span class="color-red"><b>1</b></span> 本</p>	
					<p>商品元总价：<span class="color-red"><b>88.4</b></span> 元</p>	
					<p>运费：<span class="color-red"><b>0</b></span> 元</p>
					<p>您共需支付：<span class="color-red"><b>88.4</b></span> 元</p>
					<input class="submit-btn" type="submit" value="确认，提交订单" data-inline="true">
				</div>


				</form>
			</div>
		</main><!-- // end main -->
	</div>

</body>
</html>