<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>微书店主页</title>
	<link rel="stylesheet" href="__PUBLIC__/mobile/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="__PUBLIC__/styles/home.css">
	<script src="__PUBLIC__/scripts/jquery.min.js"></script>
	<script src="__PUBLIC__/mobile/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>


	<div data-role="page">
		<include file="Common:toolbar" />
		<include file="Common:menu" />

		<!-- begin main-->
		<main data-role="main" class="ui-content">
			<div class="title-box clearfix">
				<span class="title-left">收获地址</span>
				<span class="title-right">使用微信收获地址</span>
			</div>
			<div class="address-box">
				<form method="post" action="#">
					<div data-role="fieldcontain">
						<div>
							<label for="userName">收货人姓名:</label>
							<input type="text" name="userName" placeholder="请输入收货人姓名">
						</div>
						<div>
							<label for="phoneNumber">手机号码:</label>
							<input type="text" name="phoneNumber" placeholder="请输入您的收获电话">
						</div>
						<div>
							<label for="address">详细地址:</label>
							<input type="text" name="adress" placeholder="请输入您的收获地址">
						</div>
					</div>
					<div>
						<input name="checkbox-1a" id="checkbox-1a" type="checkbox">
    						<label for="checkbox-1a">联系方式保存到用户库</label>
					</div>
				</form>
			</div>
		</main><!-- // end main -->
	</div>

</body>
</html>