<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>微书店主页</title>
</head>

<body>

	<div data-role="page" >

		<include file="Common:toolbar" />
		<include file="Common:menu" />


		<main data-role="main" class="ui-content">
			<div class="search-box">
				<input type="search" />
			</div>
			<div class="content-box">
				<div class="sortable-box">
					
				</div>
				<ul data-role="listview" class="listview book-list" style="margin: 0;">
					<li>
						<a href="/Home/Main/book">
							<img src="__PUBLIC__/images/child-cover.jpg" alt="">
							<div class="book-item">
								<h4>笑猫日记-小白的选择</h4>
								<p>
									<span class="price-now">￥49.5</span>
									<span class="price-normal color-gray"><s>￥55</s></span>
								</p>
								<p class="pay-number color-gray">100人付款</p>
							</div>
						</a>
					</li>
					<li>
						<a href="/Home/Main/book">
							<img src="__PUBLIC__/images/child-cover.jpg" alt="">
							<div class="book-item">
								<h4>笑猫日记-小白的选择</h4>
								<p>
									<span class="price-now">￥49.5</span>
									<span class="price-normal color-gray"><s>￥55</s></span>
								</p>
								<p class="pay-number color-gray">100人付款</p>
							</div>
						</a>
					</li>
					<li>
						<a href="/Home/Main/book">
							<img src="__PUBLIC__/images/child-cover.jpg" alt="">
							<div class="book-item">
								<h4>笑猫日记-小白的选择</h4>
								<p>
									<span class="price-now">￥49.5</span>
									<span class="price-normal color-gray"><s>￥55</s></span>
								</p>
								<p class="pay-number color-gray">100人付款</p>
							</div>
						</a>
					</li>
					<li>
						<a href="/Home/Main/book">
							<img src="__PUBLIC__/images/child-cover.jpg" alt="">
							<div class="book-item">
								<h4>笑猫日记-小白的选择</h4>
								<p>
									<span class="price-now">￥49.5</span>
									<span class="price-normal color-gray"><s>￥55</s></span>
								</p>
								<p class="pay-number color-gray">100人付款</p>
							</div>
						</a>
					</li>
					<li>
						<a href="/Home/Main/book">
							<img src="__PUBLIC__/images/child-cover.jpg" alt="">
							<div class="book-item">
								<h4>笑猫日记-小白的选择</h4>
								<p>
									<span class="price-now">￥49.5</span>
									<span class="price-normal color-gray"><s>￥55</s></span>
								</p>
								<p class="pay-number color-gray">100人付款</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</main><!-- // end main -->


	</div>
</body>
</html>
