<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="__PUBLIC__/mobile/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="__PUBLIC__/styles/home.css">
	<script src="__PUBLIC__/scripts/jquery.min.js"></script>
	<script src="__PUBLIC__/mobile/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
	<div data-role="page">
		<link rel="stylesheet" href="__PUBLIC__/styles/swiper-3.3.0.min.css">
		<link rel="stylesheet" href="__PUBLIC__/styles/easy-responsive-tabs.css">
		<include file="Common:toolbar" title="图书信息"/>
		<include file="Common:menu" />

		<!--  start main  -->
		<main data-role="main" class="ui-content">
			
			<!-- begin swiper -->
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a href=""><img src="__ROOT__/Uploads/{$book.location}" alt=""></a>
					</div>
					<div class="swiper-slide">
						<a href=""><img src="__ROOT__/Uploads/{$book.location}" alt=""></a>
					</div>
					<div class="swiper-slide">
						<a href=""><img src="__ROOT__/Uploads/{$book.location}" alt=""></a>
					</div>
				</div>
				<!-- 如果需要分页器 -->
				<div class="swiper-pagination"></div>
			</div><!-- // end swiper -->

			<div class="book-title">《{$book.name}》</div>
			<div class="price-box">
				<p>销售价：<span class="color-red font-solid">￥{$book.price_now}</span></p>
				<p>市场价：<span class="color-red font-solid"><del>￥{$book.price}</del></span></p>
				<p>邮费：￥0</p>
			</div>
			<div class="number-box">
				<span>数量：</span>
				<a id="add" href="#">-</a>
				<input id="book-number" class="number-input" type="text" data-role="none" value="1" >
				<a id="sub" href="#">+</a>
				<span class="inventory">(库存{$book.total_count}件)</span>
			</div>
			<div class="btn-box">
				<button  class="ui-btn ui-btn-inline">立即购买</button>
				<button  class="ui-btn ui-btn-inline">加入购物车</button>
			</div>

			 <div class="tabs" id="parentHorizontalTab">
				<ul class="resp-tabs-list hor_1">
					<li>详情</li>
					<li>评价</li>
				</ul>
				<div class="resp-tabs-container hor_1">
					<div class="description">
						<p>{$book.description}</p>
					</div>
					<div>
						<p>暂无评价</p>
					</div>
				</div>
        			</div>
		</main> <!-- // end main-->

		<script src="__PUBLIC__/scripts/easyResponsiveTabs.js"></script>
		<script src="__PUBLIC__/scripts/swiper-3.3.0.jquery.min.js"></script>
		<script>
			  $(document).ready(function() {
				//Horizontal Tab
				$('#parentHorizontalTab').easyResponsiveTabs({
					type: 'default', //Types: default, vertical, accordion
					width: 'auto', //auto or any width like 600px
					fit: false, // 100% fit in a container
					tabidentify: 'hor_1', // The tab groups identifier
					activate: function(event) { 
					}
				});

				 var mySwiper = new Swiper ('.swiper-container', {
				    direction: 'horizontal',
				    loop: true,
				    // 如果需要分页器
				    pagination: '.swiper-pagination',
				 });
			  });

		</script>
	</div>

</body>