<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="__PUBLIC__/mobile/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="__PUBLIC__/styles/home.css">
	<script src="__PUBLIC__/scripts/jquery.min.js"></script>
	<script src="__PUBLIC__/mobile/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
	<div data-role="page">
		<include file="Common:toolbar" />
		<include file="Common:menu" />

		<!--  start main  -->
		<main data-role="main" class="ui-content">
			<hr />
			<div class="book-info" >
				<div class="book-cover" style="display: inline-block;">
					<img src="__PUBLIC__/images/banner01.png">
				</div>
				<div class="book-other" style="display: inline-block;">
					<div><b>《OK, Good》</b></div>
					<div>销售价：<span class="color-red font-solid">￥23.8</span></div>
					<div>邮费：￥0</div>
					<div>
						<span>数量：</span>
						<a id="add" href="#">-</a>
						<input id="book-number" class="number-input" type="text" data-role="none" value="1" >
						<a id="sub" href="#">+</a>
					</div>
					<div>
						<span>库存：20</span>
						<span class="del"><a href="#">删除</a></span>
					</div>
				</div>
			</div>
			<hr />
			
			<div class="book-total">
				<span>商品总数：<span class="color-red">1</span></span>
				<span>商品总额：<span class="color-red">￥21.5</span></span>
			</div>
			<div class="book-operation">
				<div class="btn-box">
					<a href="#"  class="ui-btn ui-btn-inline">继续购物</a>
					<a href="/Home/Main/address.html" class="ui-btn ui-btn-inline">下单结算</a>
				</div>
			</div>
	
		</main> <!-- // end main-->

	</div>

</body>