<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>微书店主页</title>
	<link rel="stylesheet" href="__PUBLIC__/mobile/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="__PUBLIC__/styles/home.css">
	<script src="__PUBLIC__/scripts/jquery.min.js"></script>
	<script src="__PUBLIC__/mobile/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>

	<div data-role="page">

		<include file="Common:toolbar" title="图书分类"/>
		<include file="Common:menu" />

		<!-- begin main-->
		<main data-role="main" class="ui-content">
			
		</main><!-- // end main -->
	</div>

</body>
</html>
