<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>订单列表</title>
	<link rel="stylesheet" href="__PUBLIC__/mobile/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="__PUBLIC__/styles/home.css">
	<script src="__PUBLIC__/scripts/jquery.min.js"></script>
	<script src="__PUBLIC__/mobile/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>


	<div data-role="page" class="margin-3">
		<include file="Common:toolbar" />
		<include file="Common:menu" />

		<!-- begin main-->
		<main data-role="main" class="ui-content ">

			<div class="order-list-box">

				<div class="ui-body ui-body-a ui-corner-all order-item" onclick="">
					<img src="__PUBLIC__/images/child-cover.jpg">
					<p>支付状态：未支付</p>
					<p>订单状态：未发货</p>
					<p>订单总额：￥16.92</p>
					<span class="order-time">2016-02-12 18:45:89</span>
					<a class="pay-now" style="color:#eeffee;" href="##">立即付款</a>
					<a href="/Home/Main/order" class="ui-btn ui-btn-inline ui-icon-arrow-r ui-btn-icon-notext ui-corner-all item-info"></a>
				</div>


				<div class="ui-body ui-body-a ui-corner-all order-item" onclick="">
					<img src="__PUBLIC__/images/child-cover.jpg">
					<p>支付状态：未支付</p>
					<p>订单状态：未发货</p>
					<p>订单总额：￥16.92</p>
					<span class="order-time">2016-02-12 18:45:89</span>
					<a class="pay-now" style="color:#eeffee;" href="##">立即付款</a>
					<a href="/Home/Main/order" class="ui-btn ui-btn-inline ui-icon-arrow-r ui-btn-icon-notext ui-corner-all item-info"></a>
				</div>

				<div class="ui-body ui-body-a ui-corner-all order-item" onclick="">
					<img src="__PUBLIC__/images/child-cover.jpg">
					<p>支付状态：未支付</p>
					<p>订单状态：未发货</p>
					<p>订单总额：￥16.92</p>
					<span class="order-time">2016-02-12 18:45:89</span>
					<a class="pay-now" style="color:#eeffee;" href="##">立即付款</a>
					<a href="/Home/Main/order" class="ui-btn ui-btn-inline ui-icon-arrow-r ui-btn-icon-notext ui-corner-all item-info"></a>
				</div>
				
			</div>

		</main><!-- // end main -->
	</div>

</body>
</html>