<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>订单列表</title>
	<link rel="stylesheet" href="__PUBLIC__/mobile/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="__PUBLIC__/styles/home.css">
	<script src="__PUBLIC__/scripts/jquery.min.js"></script>
	<script src="__PUBLIC__/mobile/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>


	<div data-role="page">
		<include file="Common:toolbar" title="订单信息"/>
		<include file="Common:menu" />

		<!-- begin main-->
		<main data-role="main" class="ui-content">
			<div class="margin-3">
			<volist name="carts" id="cart">
			<div class="order-base clearfix">
				<div class="order-cover">
					<img src="__ROOR__/Uploads/{$cart.location}" alt="">
				</div>
				<div class="order-aside">
					<h4>{$cart.name}</h4>
					<div>
						<span>数量：<b>{$cart.amount}</b></span>
						<span>销售价：{$cart.price_now}</span>
					</div>
				</div>
			</div>
			</volist>

			<div class="order-status">
				<p>订单状态：{$order.orderstate}</p>
				<p>订单编号：{$order.order_id}</p>
				<p>下单时间：{$order.create_time}</p>
				<p>订单金额：{$order.total_price}</p>
			</div>

			<button>取消订单</button>

			<div order-address>
				<h4>收货人信息</h4>
				<p>收货人：{$order.name}</p>
				<p>收货地址：{$order.adress}</p>
				<p>联系电话：{$order.phone}</p>
				<h4>支付与配送</h4>
				<p>商品金额：{$order.total_price}</p>
				<p>运费：0</p>
				<p>应付金额：{$order.total_price}元</p>
			</div>
			</div>
		</main><!-- // end main -->
	</div>

</body>
</html>