<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>订单列表</title>
	<link rel="stylesheet" href="__PUBLIC__/mobile/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="__PUBLIC__/styles/home.css">
	<script src="__PUBLIC__/scripts/jquery.min.js"></script>
	<script src="__PUBLIC__/mobile/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>


	<div data-role="page">
		<include file="Common:toolbar" title="订单信息"/>
		<include file="Common:menu" />

		<!-- begin main-->
		<main data-role="main" class="ui-content">
			<div class="margin-3">
			<div class="order-base clearfix">
				<div class="order-cover">
					<img src="__PUBLIC__/images/child-cover.jpg" alt="">
				</div>
				<div class="order-aside">
					<h4>笑猫日记-小白的选择</h4>
					<div>
						<span>数量：<b>2</b></span>
						<span>销售价：49.5</span>
					</div>
				</div>
			</div>

			<div class="order-status">
				<p>订单状态：待发货</p>
				<p>订单编号：4242424242</p>
				<p>下单时间：2016:01:12 23:12:03</p>
				<p>订单金额：16.93</p>
			</div>

			<button>取消订单</button>

			<div order-address>
				<h4>收货人信息</h4>
				<p>收货人：Bin Chan</p>
				<p>收货地址：四川成都</p>
				<p>联系电话：10085</p>
				<h4>支付与配送</h4>
				<p>支付方式：未支付</p>
				<p>商品金额：16.92</p>
				<p>运费：0</p>
				<p>应付金额：16.92元</p>
			</div>
			</div>
		</main><!-- // end main -->
	</div>

</body>
</html>